@model ManageModel

<form hx-post hx-page="Manage" hx-page-handler="AddEntry" hx-swap="outerHTML" class="space-y-4">
  <div>
    <label asp-for="Text" class="block form-label">Entry</label>
    <input type="text" asp-for="Text" class="block w-full mt-1 form-input">
  </div>
  <button type="submit" class="btn btn-blue">
    Add
  </button>
  @Html.AntiForgeryToken()
</form>
