@using FamilyCalendar.Entries
@using Microsoft.AspNetCore.Html
@model IndexModel

@{
  var entries = await Model.GetEntriesAsync();
  var participants = entries.SelectMany(entry => entry.Participants).Distinct().ToList();
  var unassignedEntries = entries.Where(entry => entry.Participants.Count == 0).ToList();
  var columnCount = participants.Count + (unassignedEntries.Count > 0 ? 1 : 0);
}

<div id="calendar" class="grid grid-cols-@columnCount gap-5">
  @foreach (var participant in participants)
  {
    @await Html.PartialAsync("_CalendarColumn.cshtml", new PartialCalendarColumnModel
{
  Participant = participant,
  Entries = entries.Where(entry => entry.Participants.Contains(participant))
})
  }

  @if (unassignedEntries.Count > 0)
  {
    @await Html.PartialAsync("_CalendarColumn.cshtml", new PartialCalendarColumnModel
{
  Participant = "Unassigned",
  Entries = unassignedEntries
})
  }
</div>
