@page "/{calendarId:guid}"
@model IndexModel
@{
  ViewData["Title"] = "Calendar";
}

<div class="p-4">
  <div hx-get hx-page-handler="Refresh" hx-trigger="every 60s" hx-swap="innerHtml">
    @await Html.PartialAsync("Calendar/_Calendar")
  </div>
</div>
