@page
@using FamilyCalendar.Pages.Shared
@model IndexModel
@{
  ViewData["Title"] = "Home";
}

<div class="p-4">
  <a asp-page="Calendar" asp-route-calendarId="00000000-0000-0000-0000-000000000000">Calendar</a>
  <a asp-page="Manage" asp-route-calendarId="00000000-0000-0000-0000-000000000000">Manage</a>
</div>
