@page
@using FamilyCalendar.Pages.Shared
@model IndexModel
@{
  ViewData["Title"] = "Home";
}

<div class="p-4">
  <a asp-page="Calendar">Calendar</a>
  <a asp-page="Manage">Manage</a>
</div>
