@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  @await Html.PartialAsync("_AddTask")

  <div hx-get hx-page="Index" hx-page-handler="Tasks" hx-trigger="every 60s" hx-swap="innerHtml">
    @await Html.PartialAsync("_Tasks")
  </div>
</div>
