@page "/Manage/{calendarId}"
@model ManageModel
@{
  ViewData["Title"] = "Manage";
}

<div class="p-4 space-y-4">
  @await Html.PartialAsync("Manage/_AddEntry")
  @await Html.PartialAsync("Manage/_EntryList", Model.GetEntryListModel(false))
</div>
